@import './config.scss';

#app{
    font-family: -apple-system, "Helvetica";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}